@keyframes background{
  0% {background-color: rgb(255, 200, 129);}
  50% {background-color: rgb(223, 152, 47);}
  100% {background-color: rgb(255, 200, 129);}
}

.bganim {
  background-color:rgb(255, 200, 129);
  animation-name: background;
  animation-duration:3s;
  animation-iteration-count: infinite;
}

.maintopic {
  margin-top:25px;
  margin-bottom:25px;
}

.maintopic last-child{
  margin-bottom:none;
}


img {
  max-width: 100%;
  max-height: 100%;
}

.navbar {
  height: 50px;
}

.navbar * {
  height: 100%;
  object-fit: contain;
}

/* iFrame */
body, html {width: 100%; height: 100%; margin: 0; padding: 0}
.row-container {display: flex; width: 100%; height: 100%; flex-direction: column; overflow: hidden;}
.first-row {background-color: lime; }
.second-row { flex-grow: 1; border: none; margin: 0; padding: 0; }